[Unit]
Description=Parent sommelier listening on socket wayland-%i

[Service]
Environment="WAYLAND_DISPLAY_VAR=WAYLAND_DISPLAY"
Environment="SOMMELIER_SCALE=1.0"
Type=notify
ExecStartPre=/bin/sh -c \
                 "/bin/systemctl --user set-environment \
                      SOMMELIER_VM_IDENTIFIER=$(cat /dev/.container_token); \
                  /usr/bin/test -c /dev/dri/renderD128 && \
                      /bin/systemctl --user set-environment \
                          SOMMELIER_DRM_DEVICE=/dev/dri/renderD128; \
                  /bin/true"
ExecStart=/usr/bin/sommelier \
              --parent \
              --sd-notify="READY=1" \
              --socket=wayland-%i \
              /bin/sh -c \
                  "systemctl --user set-environment ${WAYLAND_DISPLAY_VAR}=$${WAYLAND_DISPLAY}; \
                   systemctl --user import-environment SOMMELIER_VERSION"
ExecStopPost=/opt/google/cros-containers/bin/guest_service_failure_notifier sommelier
Restart=always

[Install]
WantedBy=default.target
DefaultInstance=0
