[Unit]
Description=X11 sommelier at display %i

[Service]
Environment="DISPLAY_VAR=DISPLAY"
Environment="SOMMELIER_SCALE=1.0"
Type=notify
ExecStart=/usr/bin/sommelier \
              -X \
              --x-display=%i \
              --sd-notify="READY=1" \
              --no-exit-with-child \
              /bin/sh -c \
                  "systemctl --user set-environment ${DISPLAY_VAR}=$${DISPLAY}; \
                   systemctl --user import-environment XCURSOR_SIZE SOMMELIER_VERSION; \
                   . /etc/sommelierrc"
Restart=always

[Install]
WantedBy=default.target
DefaultInstance=0
