[Unit]
Description=Chromium OS Garcon Bridge

[Service]
Type=simple
ExecStart=/opt/google/cros-containers/bin/garcon --server

[Install]
WantedBy=default.target
