# Copyright 2018 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Format: //devtools/kokoro/config/proto/build.proto

build_file: "cros-container-guest-tools/kokoro/lxd_container.sh"

action {
  define_artifacts {
    regex: "**/*sponge_log.xml"
    regex: "git/cros-container-guest-tools/lxd/**"
    strip_prefix: "git/cros-container-guest-tools"
  }
}

gfile_resources: "/x20/teams/chromeos-vm/bin"
