[Unit]
Description=CrOS SFTP service
After=network.target auditd.service

[Service]
ExecStartPre=/usr/sbin/sshd -t -f /dev/.ssh/sshd_config
ExecStart=/usr/sbin/sshd -D -f /dev/.ssh/sshd_config
ExecReload=/usr/sbin/sshd -t -f /dev/.ssh/sshd_config
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
Type=notify
RuntimeDirectory=sshd

[Install]
WantedBy=default.target
